.add-food-category-component {
  .add-food-category-header {
    margin-bottom: 20px;
  }
  .add-food-category-body {
    .cancel-save {
      display: flex;
      .btn-cancel {
        background-color: transparent;
          border: 2px solid red;
          color: red;
          font-size: 14px;
          padding: 8px 12px;
          font-weight: 500;
          margin-right: 8px;
          transition: all .3s;
          cursor: pointer;

          &:hover {
            background-color: red;
            color: #fff;
          }
      }
    }

    .detail-info {
      display: grid;
      grid-template-columns: 70% 30%;
      gap: 20px;
      padding-right: 20px;

      .category-desc {
        grid-column: span 2;
      }
    }
  }
}
