@use '@/styles' as *;
.staff-info-container {
  width: 65%;
  margin: auto;

  .change-cancel {
    display: flex;
    align-items: center;
    gap: 8px;

    .btn-cancel-role {
      border: 1px solid $text-color !important;
      transition: all .3s;

      &:hover {
        background-color: $text-color;
        color: #fff;
      }
    }
  }

  .close-btn {
    .close-icon {
      transition: all .3s;
      cursor: pointer;
      &:hover {
        color: red;
      }
    }
  }

  .staff-info {
    display: flex;
    gap: 24px;

    .avatar {
      width: 240px;
      height: 240px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .info {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }
}
