.import-food-component {
  .import-food-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .export-file {
      display: flex;
      align-items: center;
      gap: 8px;
      border: 1px solid transparent;
      transition: all .3s;
      cursor: pointer;
      padding: 8px 16px;
      font-weight: 500;

      &:hover {
        border-color: rgba(0, 0, 0, 0.3);
      }

      .icn-download {
        font-size: 20px;
      }
    }
  }

  .import-food-body {
    margin-top: 20px;
  }
}
