@use '@/styles' as *;

.upload-component {
  border: 1px dashed rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

  .upload-title {
    font-size: 14px;
    font-weight: 500;
  }

  .img-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;

    .img-item {
      position: relative;
      overflow: hidden;

      &:hover {
        img {
          filter: blur(3px) grayscale(80%);
        }

        .close-icon {
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }

      img {
        width: 120px;
        height: 120px;
        object-fit: cover;
        border: 1px solid $border-color;
        transition: all .3s;
      }

      .close-icon {
        position: absolute;
        z-index: 1;
        color: red;
        top: 110%;
        left: 50%;
        transform: translateX(-50%);
        transition: all .3s;        
        cursor: pointer;

        &:hover {          
          filter: drop-shadow(0 0 10px);
        }
      }
    }
  }

  label {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    color: $admin-primary-color;
    transition: all .3s;

    &:hover {
      text-decoration: underline;
      filter: brightness(125%);
    }

    .upload-icon {
      font-size: 24px;
    }

    .upload-content {
      font-size: 14px;
    }
  }

  input {
    display: none;
  }
}
