@use '@/styles' as *;

.order-detail-component {
  .order-detail-tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .order-detail-content {
    max-width: 1280px;
    margin: 64px auto;

    .order-status {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 64px;
    }

    .order-info-products {
      display: flex;
      gap: 24px;

      .order-info {
        width: 40%;
        border: 1px solid $border-color;
        padding: 24px;
        border-radius: 12px;
        background-color: #fff;

        ul {
          list-style: none;
          margin-left: 12px;
          margin-top: 8px;
          display: flex;
          flex-direction: column;
          gap: 4px;
        }
      }

      .order-products {
        flex: 1;
        background-color: #fff;
        padding: 24px;
        border-radius: 12px;

        h3 {
          margin-bottom: 8px;
        }

        .prd-item {
          display: flex;
          border-bottom: 1px solid $border-color;
          padding: 8px;
          align-items: center;
          transition: all .3s;

          img {
            width: 75px;
            height: 75px;
            object-fit: cover;
            margin-right: 8px;
          }

          .prd-info {
            display: flex;
            flex-direction: column;
            gap: 4px;

            .prd-cate {
              color: $text-color;
              font-size: 14px;
            }

            .prd-quantity {
              font-size: 14px;
            }
          }

          .prd-price {
            margin-left: auto;

            .price {
              color: $red-orange-color;
              font-weight: 600;
            }

            .pre-discount-price {
              font-size: 12px;
              color: $text-color;
              margin-left: 4px;
              text-decoration: line-through;
            }
          }
        }

        .total-price {
          margin-top: 16px;
          display: flex;
          justify-content: end;

          b {
            color: $red-orange-color;
            font-size: 18px;

            span {
              color: #000;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

.confirm-modal,
.cancel-note-modal {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  transition: all .5s;
}

.save-close {
  display: flex;
  align-items: center;
  gap: 24px;

  .close-btn {
    .close-icon {
      transition: all .3s;
      cursor: pointer;

      &:hover {
        color: red;
      }
    }
  }
}
