.food-category-detail-component {
  .category-tool {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .hide-edit {
      display: flex;

      .btn-hide {
        background-color: transparent;
        border: 2px solid red;
        color: red;
        font-size: 14px;
        padding: 8px 12px;
        font-weight: 500;
        margin-right: 8px;
        transition: all .3s;
        cursor: pointer;

        &:hover {
          background-color: red;
          color: #fff;
        }
      }
    }
  }

  .food-category-detail-body {
    display: flex;
    gap: 20px;

    .food-category-detail-container {
      flex: 1;

      .food-category-detail {
        // display: flex;
        // flex-direction: column;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
      }
    }

    .food-category-description-container {
      width: 30%;
    }
  }
}
