@use '@/styles' as *;
.edit-customer-component {
  .edit-customer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .cancel-save {
      display: flex;
      gap: 8px;

      .btn-cancel {
        color: $admin-primary-color;
        border: 1px solid $admin-primary-color;


        &:hover {
          color: red !important;
          border-color: red !important;
        }
      }
    }
  }
  .edit-customer-body {
    margin-top: 20px;
  }
}
