@use '@/styles' as *;
.add-import-food-component {
  .add-import-food-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .cancel-save {
      display: flex;
      gap: 8px;

      .btn-cancel {
        color: $admin-primary-color;
        border: 1px solid $admin-primary-color;


        &:hover {
          color: red !important;
          border-color: red !important;
        }
      }
    }
  }

  .add-import-food-body {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
