$admin-primary-color: #0088ff;
$admin-background-color: #182537;
$text-color: #676d79;
$primary-color: #3ba66b;
$secondary-color: #ffb416;
$red-orange-color: #f14e18;
$red-color: #f62e2e;
$border-color: #0000001a;
