.btn-component {
  padding: 8px 16px;
  font-size: 14px;
  transition: all .3s;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;

  &:hover {
    filter: brightness(125%);
  }
}
