.food-category-component {
  .food-category-header {
    display: flex;
    justify-content: flex-end;

    .btn-add {
      .icn-add {
        font-size: 20px;
      }
    }
  }

  .table-component {
    margin-top: 20px;

    .search {
      margin-top: 12px;;
    }
  }
}
