.customer-info-container {
  width: 65%;
  margin: auto;

  .close-modal {
    .close-icon {
      transition: all .3s;
      cursor: pointer;
      &:hover {
        color: red;
      }
    }
  }

  .customer-info {
    display: flex;
    gap: 24px;

    .avatar {
      width: 240px;
      height: 240px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .info {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }
}
