@use '@/styles' as *;

.add-customer-component {
  .add-customer-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .cancel-save {
      display: flex;
      gap: 8px;

      .btn-cancel {
        color: $admin-primary-color;
        border: 1px solid $admin-primary-color;


        &:hover {
          color: red !important;
          border-color: red !important;
        }
      }
    }
  }

  .add-customer-body {
    margin-top: 20px;
    display: flex;
    gap: 20px;

    .box-avatar {
      height: fit-content;
    }

    .box-info {
      .customer-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
      }
    }

    .box-address {
      .address {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 12px;
      }
    }

    .box-role {
      height: fit-content;
    }
  }
}
