.import-food-detail-component {
  .import-food-detail-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .delete-edit {
      display: flex;

      .btn-delete {
        background-color: transparent;
        border: 2px solid red;
        color: red;
        font-size: 14px;
        padding: 8px 12px;
        font-weight: 500;
        margin-right: 8px;
        transition: all .3s;
        cursor: pointer;

        &:hover {
          background-color: red;
          color: #fff;
        }
      }
    }
  }
  .import-food-detail-body {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .provider-import-receipt {
      display: flex;
      gap: 20px;

      .provider {
        flex: 1;
      }

      .import-receipt {
        width: 30%;
      }
    }    
  }
}
