@use '@/styles' as *;

.add-export-food-component {
  width: 65%;
  margin: auto;

  .add-export-food-body {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;

    .save-close {
      display: flex;
      align-items: center;
      gap: 24px;
      .close-btn {
        .close-icon {
          transition: all .3s;
          cursor: pointer;

          &:hover {
            color: red;
          }
        }
      }
    }

    .export-receipt-info {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }
}
