@use '@/styles' as *;

.login-component {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  h1 {
    text-align: center;
    margin-bottom: 32px;
  }

  form {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .remember-forgot {
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        color: $primary-color;
        text-decoration: none;
        font-size: 14px;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .btn-login {
      display: flex;
      justify-content: center;
      border-radius: 999px !important;
      padding: 12px 0;
    }

    p {
      text-align: center;
      font-size: 14px;

      a {
        color: $primary-color;
        font-weight: 500;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .other-login-text {
      font-size: 14px;
      display: block;
      text-align: center;
      position: relative;

      &::before {
        content: '';
        width: 42%;
        height: 1px;
        background-color: $border-color;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }

      &::after {
        content: '';
        width: 42%;
        height: 1px;
        background-color: $border-color;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .btn-login-with-google {
      border: 1px solid $text-color;
      border-radius: 999px !important;
      display: flex;
      justify-content: center;
      transition: all .3s;

      &:hover {
        background-color: $text-color;
        color: #fff;
      }
    }
  }

  .user-role-component {
    position: absolute;
    background-color: #fff;
    width: fit-content;
    height: fit-content;
    z-index: 999;
    transition: all .5s;
    padding: 96px 48px;
    border-radius: 12px;

    .close-btn {
      position: absolute;
      top: 24px;
      right: 24px;
      .close-icon {
        transition: all .3s;
        cursor: pointer;

        &:hover {
          color: red;
        }
      }
    }
  }
}
