@use '@/styles' as *;

.food-detail-component {

  .food-info {
    .food-info-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);

      .title {
        font-weight: 600;
      }

      .status {
        font-size: 12px;
        margin-left: 12px;
        padding: 4px 8px;
        border-radius: 16px;

        &.trading {
          background-color: #0088ff44;
          color: $admin-primary-color;
        }

        &.no-trading {
          background-color: $border-color;
          color: #000;
        }

        &.out-of-stock {
          background-color: #e7a22a2a;
          color: #e7a22a;
        }
      }
    }

    .delete-edit {
      display: flex;
      gap: 4px;
    }

    .food-info-body {
      display: flex;
      padding: 12px;
      font-size: 14px;
      justify-content: space-between;

      .content {
        flex: 1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;

        div {
          display: grid;
          grid-template-columns: repeat(2, 1fr);

          .title {
            color: $text-color;
          }

          .detail {}
        }
      }


    }
  }

  .food-desc {
    margin-top: 20px;
  }

  .package-detail {
    margin-top: 12px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);

    .package-detail-header {
      display: inline-block;
      margin: 24px 0 12px 0;
      font-size: 18px;
      font-weight: 600;
    }

    .package-detail-body {}
  }
}

.ok-cancel-delete-modal {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  transition: all .5s;
}
