@use '@/styles' as *;

.personal-info-component {
  .personal-info-content {
    max-width: 1280px;
    margin: 64px auto;

    .personal-info-form {
      border: 2px solid $border-color;
      margin-top: 12px;
      padding: 32px;
      border-radius: 12px;
      display: flex;
      gap: 32px;

      .avatar {
        width: 200px;

        img {
          width: 100%;
          object-fit: cover;
          aspect-ratio: 1/1;
        }
      }

      .info-box {
        flex: 1;

        .row {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          column-gap: 16px;

          .title {
            grid-column: span 3;
            border-bottom: 1px solid $text-color;
            display: flex;
            align-items: center;
            margin-bottom: 12px;
            padding-bottom: 4px;
          }

          .column {
            display: flex;
            flex-direction: column;
            gap: 12px;
          }
        }
      }

      .save-cancel {
        display: flex;
        justify-self: end;
        margin-top: 32px;
        gap: 8px;
      }
    }

    .form-footer {
      display: flex;

      .transfer-btn {
        border: 1px solid $border-color;
        margin-top: 12px;
        transition: all .3s;

        &:hover {
          color: $admin-primary-color;
          border-color: $admin-primary-color;
        }
      }

      .logout-btn {
        border: 1px solid $border-color;
        margin-top: 12px;
        transition: all .3s;

        &:hover {
          color: red;
          border-color: red;
        }
      }

    }
  }
}
