@use '@/styles' as *;

.search-component {
  display: flex;
  align-items: center;
  flex: 1;
  border: 1px solid $border-color;
  padding: 8px 12px;
  gap: 12px;
  background-color: #fff;

  input {
    outline: none;
    border: none;
    width: 100%;
    background-color: transparent;
  }
}
